<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/98d8f86f-1b62-41b1-847d-29099c08e3e5/resourcegroups/Innovatube20250629202212ResourceGroup/providers/Microsoft.Web/sites/Innovatube20250629202212</ResourceId>
    <ResourceGroup>Innovatube20250629202212ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/98d8f86f-1b62-41b1-847d-29099c08e3e5/resourceGroups/Innovatube20250629202212ResourceGroup/providers/Microsoft.ApiManagement/service/Innovatubeapi/apis/Innovatube</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://innovatube20250629202212.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c1ecd56d-7f7d-4f8e-98d0-334ca29a585c</ProjectGuid>
    <MSDeployServiceURL>innovatube20250629202212.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Innovatube20250629202212</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>